<div class="container mt-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Comercial</th>
                <th>Fecha</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedido of pedidos">
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.cliente }}</td>
                <td>{{ pedido.comercial }}</td>
                <td>{{ pedido.fecha }}</td>
                <td>{{ pedido.total }}</td>
            </tr>
        </tbody>
    </table>
</div>